{% extends "base.html" %} {% load crispy_forms_tags %} {% block extra_css %}
<style>
	table,
	td {
		border: 1px solid black;
	}

	footer {
		background-color: #f2f2f2;
		padding: 25px;
	}

	.row [class*="col-"] {
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	}

	.row {
		overflow: hidden;
	}

	.hoverTable {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 5vw;
	}
	.hoverTable td,
	.hoverTable th {
		padding: 7px;
		border: black 1px solid;
	}
	.hoverTable tr {
		background: #eee;
	}
	.hoverTable tr:hover {
		background-color: #b8d1f3;
	}

	.img-container {
		height: 70vh;
		width: 60vw;
		overflow: auto;
	}

	.img-container img {
		width: auto;
		height: 70vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
</style>
{% endblock %} {% block content %}

<div class="jumbotron">
	<div class="container text-center">
		<h1>{{ object.student }}'s work {{ object.date }}</h1>
	</div>
</div>

{% if messages %}
<div class="container mt-3">
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
	{% endfor %}
</div>
{% endif %}

<div class="container mt-4">
	<div class="row">
		<!-- IMAGE COLUMN -->
		<div class="col-md-8 text-center">
			<div class="img-container" style="max-height: 55vh; overflow: auto">
				<img
					src="{{ object.picture.url }}"
					style="
						max-height: 50vh;
						width: auto;
						border: 1px solid #ddd;
						border-radius: 8px;
					"
				/>
			</div>
		</div>

		<!-- GRADING CARD COLUMN -->
		<div class="col-md-4">
			<div class="card shadow-sm">
				<div class="card-body">
					<h5 class="card-title">Submitted Work</h5>
					<hr />

					<a
						href="{{ object.picture.url }}"
						download
						class="btn btn-outline-primary btn-block mb-3"
					>
						Download Document
					</a>

					<form method="post">
						{% csrf_token %} {{ form.as_p }}

						<button class="btn btn-success btn-block mt-2" type="submit">
							Save Grade
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<br />

{% endblock %}
