{% extends "base.html" %} {% block content %}

<div class="container py-4">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow-sm">
				<div class="card-header bg-white">
					<h2 class="text-center m-0">Registration</h2>
				</div>

				<div class="card-body">
					<div class="row g-3">
						<div class="col-lg-6">
							<a
								href="{% url 'teacher_register' %}"
								class="btn btn-primary w-100"
							>
								I am a teacher
							</a>
						</div>

						<div class="col-lg-6">
							<a
								href="{% url 'student_register' %}"
								class="btn btn-secondary w-100"
							>
								I am a student
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
